# Lambda:

## Quick Notes:
1. Lambda is an inline function which are also known as anonymous functions
2. The general syntax of lambda is: "lambda arguments : expressions"

## Questions:
1. Is Lambda faster than normal function?
2. When to use Lambda?
3. what makes it so special?
4. diff. b/w lambda and normal function?
5. how python treats lambda and normal functions internally?
6. Lambda with map, filter and reduce functions
7. Lambda with apply
8. Lamda with List Comprehension

## Illustration of Lambda vs general function

In [1]:
#using normal function..

def func1(x):
    return x*2
func1(4)

8

In [2]:
## using lambda..

func2 = lambda x : x*2
func2(4)

8

## How Lambda and General functions are treated internally?

In [3]:
#disassembling python code..

import dis
dis.dis(func1)

  4           0 LOAD_FAST                0 (x)
              2 LOAD_CONST               1 (2)
              4 BINARY_MULTIPLY
              6 RETURN_VALUE

In [4]:
dis.dis(func2)

  3           0 LOAD_FAST                0 (x)
              2 LOAD_CONST               1 (2)
              4 BINARY_MULTIPLY
              6 RETURN_VALUE

In [5]:
func1

In [6]:
func2

## Note:
The byte code is same for both the functions (regular and lambda - func1 and func2) whereas the names are different.

## How to use Lambda with Map?

In [7]:
# following is a code for doubling each element of a list..

x = [1,2,3,4,5]
y = []
for i in x:
    y.append(i*2)
y

[2, 4, 6, 8, 10]

In [8]:
# map(function_to_apply, input). Map function applies a function to all the items in the collection..
# let's do it with more elegant (IMO) and conise manner using Map and Lambda..

y = list(map(lambda i : i * 2, x))
y

[2, 4, 6, 8, 10]

## How to use Lambda with Filter?

In [9]:
# Filter creates a list of elements where the condition is true.
# Syntax of Filter function is Filter (function_to_be_applied, inputs)
x = range (1,20)
even = list(filter(lambda i : i % 2 == 0, x))
even

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
filter(lambda i : i % 2 == 0, x)

## How to use Lambda with Reduce?

In [11]:
# Reduce is good for rolling computations..
# In below code, it sums up all the integer values which are present in x = [1,2,3] i.e. 6..

from functools import reduce
x = range (1,4)
total_sum = reduce(lambda p,q : p+q, x)
total_sum

6

## How to use Lambda with Apply in Pandas data set?

In [12]:
# let's create a dummy data frame for our illustration..

import pandas as pd
d = {'Employee':['X', 'Y', 'Z'], 'Salary':[2000, 3000, 4000]}
df = pd.DataFrame(d)
df

  Employee  Salary
0        X    2000
1        Y    3000
2        Z    4000

In [13]:
# let's give 10% increment in salaries to each employee using lambda and apply..
df['Salary'] = df['Salary'].apply(lambda x : x + 0.1 * x)

In [14]:
# as you can see the new salary is 10% higher than the previous one.
df

  Employee  Salary
0        X  2200.0
1        Y  3300.0
2        Z  4400.0

## References:
1. https://realpython.com/python-lambda/